html {
    scroll-behavior: smooth;
    
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
   
}
.wrapper {
    overflow: hidden;
}
::selection {
    background-color: #C0B7E8;
    color: #211E2E;
}

:root { 
    --color-white: #FFFFFF;
    --bg-color: #302C42;
    --text-color: #343045;
}


input {
    caret-color: var(--color-white);
}
input:focus {
    border: 1px solid #6E5A9E;
    outline: 1px solid #C0B7E8;
}
textarea:focus {
    border: 1px solid #6E5A9E;
    outline: 1px solid #C0B7E8;
}

button {
    cursor: pointer;
    width: 300px;
    border-radius: 40px;
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none; 
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    transition: background 0.8s ease, transform 0.3s ease, box-shadow 0.3s ease; 
}

button:hover {
    background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%); 
    transform: scale(1.05); 
    box-shadow: 0px 4px 20px rgba(129, 118, 175, 0.6); 
}

.technologies__arrow:hover {
    background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%); 
    transform: scale(1.05); 
    box-shadow: 0px 4px 20px rgba(129, 118, 175, 0.6);
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::placeholder          {opacity: 0; transition: opacity 0.3s ease;}


textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}


.header {
    margin: 30px 0 112px 0;
}
.header__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo-image {
   margin: 0 0 0 10px;
}
.header__menu {
    width: 100%;
    margin: 0 30px 0 30px;
}
.header__list {
    display: flex;
    justify-content: space-between; 
}
.header__menu {
    max-width: 600px;
}

.header__item:last-child {
    margin: 0;

}
.header__link {
    font-weight: 700;
    line-height: 14.63px;
    color: var(--color-white);
    transition: all ease 0.5s;
    position: relative;
    z-index: 5;
}
.header__link:hover {
    color: #C0B7E8;
}
.header__buttons {
    display: flex;
    align-items: center;
}
.header__button-contact {
    line-height: 14.63px;
    background: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    margin: 0 38px 0 0;
    width: 160px;
   height: 40px;
    transition: all ease 0.8s;
}
.header__button-contact:hover {
    background-color: #fff;
}
.header__buttons-join {
    line-height: 14.63px;
    width: 160px;
   height: 40px;
}
.header__menu-icon {
    display: none;
}


.cards {
    margin: 0 0 114px 0;
}
.cards__container {
    max-width: 1280px;
    margin: 0 auto; 
    padding: 0 10px;
}
.cards__cards {
    gap: 10px; 
    display: flex;
}
.cards_card {
    background: radial-gradient(circle, #433D60 0%, #211E2E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 45px 40px 46px;
    border-radius: 40px;
}
.cards_card:last-child {
    margin: 0;
}
.cards_card-image-block {
    margin: 0 0 21px 0;
}
.cards_card-image {
    max-width: 190px;
    width: 100%;
    object-fit: cover;
    height: 190px;
    border-radius: 50%;
    border: 10px solid #0e0e0e34;
}
.cards_card-tite {
    text-align: center;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 0 0 17px 0;
}
.cards_card-line {
    width: 154px;
    height: 1px;
    background-color: #c0b7e844;
    margin: 0 0 23px 0;
}
.cards_card-description {
    color: var(--color-white);
    text-align: justify;
    font-size: 12px;
    line-height: 14.63px;
    margin: 0 0 35px 0;
}
.cards_card-link {
    font-weight: 700;
    line-height: 14.63px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    border-radius: 40px;
    padding: 17px 38px 16px 34px;
    color: var(--bg-color);
    text-align: center;
    transition:  transform 0.3s ease, box-shadow 0.3s ease; 
}
.cards_card-link:hover {
   
    transform: scale(1.05); 
    box-shadow: 0px 4px 20px rgba(129, 118, 175, 0.6); 
}

.technologies {
    margin: 0 0 84px 0;
}
.technologies__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
.technologies__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/tech-bg.png');
    padding: 108px 0 96px 0;
    border-radius: 160px;position: relative;
}
.technologies__banner-description {
    text-align: center;
    color: var(--color-white);
    line-height: 43px;
    font-size: 36px;
    font-weight: 300;
}
.technologies__arrow {
    position: absolute;
    outline: 10px solid #0e0e0e46;
    bottom: -30px;
    left: calc(50% - 35px );
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 0.8s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
}
.technologies__arrow img {
    padding: 6px 1px 0 0;
   
}
.technologies__banner-title {
    font-weight: 700;
    color: var(--color-white);
    font-size: 36px;
    text-align: center;
    line-height: 43px;
    margin: 0 0 11px 0;
}
.technologies__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technologies__card-image {
    width: 100%;
    object-fit: cover;
}




.build {
    margin: 0 0 112px 0;
}
.build__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
.build__content {
    display: flex;
    margin: 0 0 110px 0;
    width: 100%;
    justify-content: space-between;
}
.build__content__left {
    position: relative;
    margin: 0 10px 0 0;
}
.build__cards-line {
    position: absolute;
    top: 10px;
    left: -50px;
    z-index: -1;
    width: 100%;
    object-fit: contain;
}

.build__card-row {
    display: flex;
    gap: 15px;
    align-items: center;
}
.build__card-row img {
    width: 100%;
    object-fit: contain;
    width: 30px;
    height: 35px;
}
.build__content-title {
    font-size: 36px;
    color: #fff;
    margin: 0 0 15px 0;
    font-weight: 800;
    
}
.build__content-subtitle {
    color: #fff;
    font-size: 36px;
    font-weight: 200;
}
.build__content-description {
    max-width: 650px;
    text-align: justify;
    color: #dadada;
    font-size: 18px;
    line-height: 24px;
}
.build__cards {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
   width: 100%;
}
.build__card {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 0;
    position: relative;
    z-index: 5;
}
.build__card-number {
    width: 159px;
    height: 159px;
    border-radius: 50%;
    background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 15px solid #0d0d0d3b;
    font-size: 64px;
    color: var(--text-color);
    line-height: 78px;
    margin: 0 0 35px 0;
    transition: all ease 0.5s;
}
.build__card-number:hover {
    transform: scale(1.1);
}
.build__card-title {
    font-size: 24px;
    line-height: 29px;
    color: var(--color-white);
    text-align: start;
    max-width: 190px;
}
.build__card:last-child {
    margin: 0;
}

.form {
    margin: 0 0 122px 0;
}
.form__container {
    max-width: 1275px;
    margin: 0 auto;
    background: radial-gradient(circle, #403A5F 0%, #211E2E 100%);
    padding: 90px 10px 84px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
    border-radius: 50px;
}
.form__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: var(--color-white);
    margin: 0 0 30px 0;
}
.form__line {
    width: 414px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient( #C0B7E8 0%, #343045 100%);
    margin: 0 0 21px 0;
}
.form__description {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    color: var(--color-white);
    margin: 0 0 65px 0;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.form__group-row {
    margin: 0 0 39px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.form__input {
    width: 100%;
    max-width: 524px;
    border-radius: 40px;
    border: 2px solid var(--color-white);
    background: transparent;
    padding: 27px 0 28px 42px;
}
.form__input:nth-child(1) {
    margin: 0 10px 0 0;
}
.form__input-subject {
    max-width: 1058px;
    width: 100%;
    border-radius: 40px;
    border: 2px solid var(--color-white);
    background: transparent;
    padding: 27px 0 28px 42px;
    margin: 0 0 32px 0;
}
.form__textarea {
    margin: 0 0 51px 0;
    border-radius: 40px;
    border: 2px solid var(--color-white);
    max-width: 1058px;
    max-height: 210px;
    min-height: 210px;
    width: 100%;
    padding: 27px 0 0 42px;
    background: transparent;
    color: var(--color-white);
}
.form__button {
    padding: 17px 38px 16px 34px;
    width: 214px;
}



.main-block {
    margin: 0 0 88px 0;
}
.main-block__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    
}
.main-block__left {
    margin: 0 20px 0 0;
}
.main-block__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    max-width: 550px;
    color: var(--color-white);
    margin: 20px  0 36px 0;
    position: relative;
    z-index: 5;
}
.main-block__title-purple {
    font-size: 40px;
    color:  #C0B7E8;
}
.main-block__description {
    max-width: 450px;
    color: var(--color-white);
    margin: 0 0 66px 0;
    line-height: 19px;
}
.main-block__button {
    padding: 17px 38px 16px 34px;
}
.main-block__arrow {
    margin: 5px 0 0 0;
}
.main-block__right {
    position: relative;
}
.main-block__line {
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.main-block__line:nth-child(1) {
    top: -180px;
    left: 0;
}
.main-block__line:nth-child(2) {
    top: 150px;
    left: 70px;
}
.main-block__line:nth-child(3) {
    top: -250px;
    left: 90px;
}
.main-block__image {
    border-radius: 100px 100px 100px 240px;
    outline: 15px solid #0d0d0d3b;
    position: relative;
    z-index: 5;
}


.main-block__buttons {
    display: flex;
}



.about {
    margin: 0 0 90px 0;
}
.about__container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative; 
    background: radial-gradient(circle, #433D60 0%, #211E2E 100%);
    border-radius: 90px;
    padding: 24px 39px 26px 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.3s ease; 
    overflow: hidden; 
}

.about__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px; 
    background: radial-gradient(circle, #6E5A9E 0%, #2A273C 100%);
    opacity: 0; 
    transition: opacity 0.8s ease; 
    z-index: 0; 
}

.about__container:hover {
    transform: scale(1.02); 
}

.about__container:hover::after {
    opacity: 1; 
}

.about__container > * {
    position: relative; 
    z-index: 1;
}
.about__block {
    display: flex;
    align-items: center;
    color: var(--color-white);
}
.about__block__left {
    margin: 0 25px 0 0;
}

.about__block-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.about__block-description {
    max-width: 290px;
    font-size: 14px;
    line-height: 17px;
}
.about__line {
    height: 116px;
    width: 1px;
    background-color: #c0b7e818;
    margin: 0 40px 0 40px;
}

.footer-line-1 {
    position: absolute;
    top: -290px;
    left: -50px;
    width: 100%;
    object-fit: contain;
}
.footer-line-2 {
    position: absolute;
    top: 90px;
    left: -50px;
    width: 100%;
    object-fit: contain;
    z-index: -1;
}
.footer__container {
    position: relative;
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 75px 10px;
   
    align-items: center;
    width: 100%;
}
.footer__line {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    width: 100%;
    height: 2px;
    opacity: 0.5;
}
.footer__content-line {
    background: linear-gradient(to bottom, #343045, #C0B7E8, #343045);
    width: 2px;
    height: 196px;
}

.footer__content-logo {
    position: relative;
    z-index: 5;
}
.footer__content-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__content-link {
    color: #fff;
    text-transform: uppercase;
    transition: all ease 0.8s;
}
.footer__content-link:hover {
    color: #C0B7E8;
}
.footer__content-title {
    color: #C0B7E8;
    font-size: 20px;
    margin: 0 0 15px 0;
}
.footer__content-socials {
    display: flex;
    gap: 20px;
    margin: 0 0 43px 0;
}
.footer__content-social {
   cursor: pointer;
   transition: all ease 0.8s;
}
.footer__content-social:hover {
    transform: scale(1.2);
}
.footer__content-button {
    padding: 17px 43px 16px 38px;
}
.footer__row {
    padding: 30px 10px 39px 10px;
    color: #fff;
}
.footer__row-description {
    text-align: center;
}



.introduction {
    margin: 0 0 107px 0;
}
.introduction__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.introduction__row {
    display: flex;
    margin: 0 0 97px 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.introduction__row-left {
    position: relative;
    margin: 0 20px 0 0;
}
.introduction__title {
    font-size: 36px;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.about-row {
    position: relative;
}
.about-line-1 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: -1;
}
.about-line-2 {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index: -1;
}
.introduction__subtitle {
    font-size: 36px;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}
.introduction__arrow {
    position: absolute;
    top: 13px;
    right: -250px;
    width: 100%;
    object-fit: contain;
    z-index: -1;
}
.about-subtitle {
    margin: 0 0 42px 0;
}
.about-description {
    margin: 0 0 28px 0;
}

.introduction__description {
    max-width: 630px;
    color: #d6d6d6;
    text-align: justify;
    font-size: 18px;
    line-height: 22px;
}
.introduction__button {
    padding: 17px 47px 16px 39px;
}
.introduction__row-description {
    max-width: 630px;
    color: #d6d6d6;
    text-align: justify;
    font-size: 18px;
    line-height: 22px;
}
.about-image--big {
    border-radius: 240px 100px 240px 100px;
    width: 100%;
    object-fit: cover;
}



@media(max-width:1200px) {
    .header {
        margin: 10px 0 70px 0;
    }
}
@media(max-width:1050px) {
    .cards__cards {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .cards_card {
        width: 47%;
    }
}
@media(max-width:1024px) {
    .about__block {
       flex-direction: column;
    }
    .about__block-title {
        text-align: center;
    }
    .about__block-description {
       text-align: center;
    }
    .about__container {
       justify-content: space-between;
       align-items: center;
    }
    .about__line {
        height: 116px;
        width: 1px;
        background-color: #c0b7e818;
        margin: 0 10px 0 10px;
    }
    .about__block__left {
        margin: 0 0 15px 0;
    }
}
@media (max-width: 1000px) {
    .header__buttons{
        display: none;
    }
    .header__menu-icon {
        z-index: 8;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .header__menu-icon span,
    .header__menu-icon:before,
    .header__menu-icon:after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color:#fff;
    }
    .header__menu-icon:before,
    .header__menu-icon:after {
        content: "";
    }
    .header__menu-icon::before {
        top: 0;
    }
    .header__menu-icon::after {
        bottom: 0;
    }
    .header__menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__menu-icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .header__menu-icon._active:before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__menu-icon._active:after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__menu-body {
        z-index: 7;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: #000000c9;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        height: 100%;
    }
    .header__menu {
        width: 40px;
        margin: 0;
    }
    .header__menu-body._active {
        left: 0;
    }
    .header__list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header__item {
        position: relative; 
        width: 300px;
        height: 60px;
        border-radius: 30px;
        overflow: hidden; 
        cursor: pointer;
        text-align: center;
        z-index: 10;
        padding: 20px 0 0 0;
    }
    
    .header__item::before,
    .header__item::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease; 
        z-index: -1; 
    }
    .header__item::before {
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        opacity: 1; 
    }
    .header__item::after {
        background: linear-gradient(90deg, #8176AF 0%, #8176AF 100%);
        opacity: 0; 
    }
    .header__item:hover::before {
        opacity: 0; 
    }
    .header__item:hover::after {
        opacity: 1; 
    }
    .header__item span {
        position: relative; 
        z-index: 11;
        font-size: 16px;
        color: white;
    }
    .header__link {
        width: 100%;
        text-align: center;
    }
    .header {
        margin-top: 10px;
    } 
}
@media(max-width:876px) {
    .introduction__row {
        flex-direction: column;
        margin: 0 0 40px 0;
    }
    .introduction__row-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .introduction__row-left {
       margin: 0 0 30px 0;
    }
    .introduction__title {
        text-align: center;
    }
    .introduction__subtitle {
        text-align: center;
    }
    .footer__content {
        padding: 20px 10px 15px 10px;
        flex-direction: column;
    }
    .footer__row {
        padding: 15px 10px 25px 10px;
    }
    .footer__content-line {
       
       width: 100%;
        height: 2px;
    }
    .footer__content-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__content-block {
        margin: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__content-socials {
        margin: 0 0 20px 0;
    }
    .footer__content-line {
        margin: 0 0 20px 0;
    }
    .main-block__container {
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
     }
     .main-block__left {
         margin: 20px 0 0 0;
         order: 1;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .main-block__title {
         max-width: 100%;
         text-align: center;
     }
     .main-block__description {
         max-width: 100%;
         text-align: center;
     }
     .main-block__image {
        width: 100%;
        object-fit: cover;
     }
    .build__cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .build__content {
        flex-direction: column;
        align-items: center;
    }
    .build__content__left {
        margin: 0 0 30px 0;
    }
    .build__content-description {
        text-align: center;
    }
    .build__cards-line {
        display: none;
    }
    .build__content {
        margin: 0 0 40px 0;
    }
    .build__card {
        margin: 0 0 10px 0;
    }
    .build__card-row img {
        display: none;
    }
    .build__card-title {
        text-align: center;
    }
}
@media(max-width:768px) {
    .about__container {
        flex-direction: column;
        padding: 24px 10px 26px 10px;
     }
     .about__line {
         height: 1px;
         width: 100%;
         max-width: 400px;
        margin: 30px 0 30px 0;
     }
     .technologies__cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
    .technologies__card-image {
        max-height: 200px;
    }
    .technologies__banner {
       border-radius: 30px;
       margin: 0 0 60px 0;
    }
    .form__group-row {
       flex-direction: column;
       margin: 0 0 30px 0;
    }
    .form__input:nth-child(1) {
        margin: 0 0 10px 0;
    }
    .form__input {
       max-width: 100%;
    }
    .form__description {
        text-align: center;
        margin: 0 0 20px 0;
    } 
}
@media(max-width:678px) {
    .footer__content {
        padding: 0;
 
    }
    .footer__content-socials {
       flex-wrap: wrap;
       justify-content: center;
    }
}
@media(max-width:578px) {  
    .cards_card {
        width: 100%;
    }
}
@media(max-width:480px) {
    .form__line {
        max-width: 414px;
        width: 100%;
    }
    .form, .cards, .introduction, .technologies, .about {
        margin: 0 0 60px 0;
    }
    .header {
        margin: 10px 0 60px 0;
    }
    .footer__content {
        padding: 0;
    } 
    .main-block__title {
        margin: 0 0 20px 0;
    }
    .main-block__description {
       margin: 0 0 30px 0;
    }
    .about__container {
        flex-direction: column;
        padding: 24px 10px 26px 10px;
        border-radius: 30px;
    }
    .about__line {
 
        margin: 15px 0 15px 0;
    }
}


